# common
# -----------------------------
*.gch
tags
*.bin
*.pyc
*.sdf
*.tlog
*.obj
*.ilk
*.lastbuildstate
*.log
*.pdb
*.idb
*.suo
*.opensdf
*.user
*.exe
*.o
*.out
*.so
*.dll
*.exp
*.lib
*DS_Store
bin/proxy
bin/mainsvrd
backup_log/

# for visual studio
# -----------------------------
Win32

# for CLion
# -----------------------------
workspace.xml




*.swp
*.a

run/netio/bin/netio
run/proxy/bin/proxy
